<div *ngIf="form?.invalid" class="alert alert-info" role="alert">
    Enter values in the form and click submit to compute the monthly payments.
</div>
<form
    class="needs-validation shadow data-container"
    [formGroup]="form"
    [class.was-validated]="isFormSubmitted"
>
    <h5 class="text-secondary">Loan details</h5>
    <div class="row py-3">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="loanAmount" class="form-label">Loan amount:</label>
                <input
                    type="text"
                    class="form-control"
                    id="loanAmount"
                    placeholder="Enter loan amount..."
                    formControlName="loanAmount"
                    [ngClass]="{
                        'is-invalid':
                            isFormSubmitted &&
                            form.controls['loanAmount'].errors
                    }"
                    required
                />
                <div
                    class="invalid-feedback"
                    *ngIf="form.controls['loanAmount'].errors?.required"
                >
                    Loan amount cannot be empty
                </div>
                <div
                    class="invalid-feedback"
                    *ngIf="form.controls['loanAmount'].errors?.pattern"
                >
                    Loan amount must be a positive integer
                </div>
            </div>
            <div class="mb-3">
                <label for="interestRate" class="form-label"
                    >Yearly interest rate:</label
                >
                <input
                    type="text"
                    class="form-control"
                    id="interestRate"
                    placeholder="Enter interest rate..."
                    formControlName="interestRate"
                    [ngClass]="{
                        'is-invalid':
                            isFormSubmitted &&
                            form.controls['interestRate'].errors
                    }"
                    required
                />
                <div
                    class="invalid-feedback"
                    *ngIf="form.controls['interestRate'].errors?.required"
                >
                    Interest rate cannot be empty
                </div>
                <div
                    class="invalid-feedback"
                    *ngIf="form.controls['interestRate'].errors?.pattern"
                >
                    Interest rate must be a positive integer or decimal
                </div>
            </div>
            <div class="mb-3">
                <label for="loanTerm" class="form-label"
                    >Loan term (Years):</label
                >
                <input
                    type="text"
                    class="form-control"
                    id="loanTerm"
                    placeholder="Enter term..."
                    formControlName="loanTerm"
                    [ngClass]="{
                        'is-invalid':
                            isFormSubmitted && form.controls['loanTerm'].errors
                    }"
                    required
                />
                <div
                    class="invalid-feedback"
                    *ngIf="form.controls['loanTerm'].errors?.required"
                >
                    Loan term cannot be empty
                </div>
                <div
                    class="invalid-feedback"
                    *ngIf="form.controls['loanTerm'].errors?.pattern"
                >
                    Loan term must be a positive integer
                </div>
            </div>
            <div class="col-12">
                <button
                    class="btn btn-primary float-end"
                    type="submit"
                    (click)="validateForm()"
                >
                    Calculate
                </button>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</form>
